<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colloquio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">

</head>

<body>
    <div>
        <div class="header-blue" style="padding-bottom: 0%;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" >COLLOQUIO</a><button class="navbar-toggler"
                        data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                            navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">

                        <form class="form-inline mr-auto" target="_self">
                        </form>

                    </div>

                    <div class="button-wrapper">
                        <a class="btn btn-primary" id = "end" href="{{ url_for('main.result') }}" role="button" style="color: rgb(255, 255, 255); ">End</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container-fluid" style="margin-top: 10px;">
            <div class="row">
                <!-- Profile Section -->
                <div class="col-sm-3">
                    <div class="container mt-4">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-9">
                                <div class="card p-3 py-4">

                                    <div class="text-center">
                                        <img src="{{ url_for('static', filename = 'images/avatar.jpg') }}" width="100" class="rounded-circle">
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="mt-2 mb-0">{{ user.name }}</h5>
                                        <span>Best Score - {{ user.best_score }}</span>


                                        <button id="startRecording" class="btn btn-success">Start</button>
                                        <button id="stopRecording" class="btn btn-danger" disabled>Stop</button>
                                        <div class="button-wrapper">
                                            <a class="btn btn-primary" id = "next" href="/interview/{{ i }}" role="button" style="color: rgb(255, 255, 255); ">Next</a>
                                        </div>

                                        
                                    </div>
                                    {% with messages = get_flashed_messages() %} {% if messages %}
                                    <div class="notification is-danger">
                                      {{ messages[0] }}
                                    </div>
                                    {% endif %} {% endwith %}</form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                


                <div class="col-sm-6">
                    <div class="row" style="height:300px;width:575px;"!>
                        <div>
                            <div style="margin-top:50px;margin-left: 220px;">
                                <img src="{{ url_for('static', filename = 'images/robo-avatar.jpg') }}" width="250" class="rounded-circle">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="page-content page-container" id="page-content" style="width:650px;margin-left:25px">
                            <div class="padding">
                                <div class="row container d-flex justify-content-center">
                                    <div class="col">
                                        <div class="card card-bordered">
                                            <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                                                style="overflow-y: scroll !important; height:200px !important;">

                                                {% for x in text %}
                                                    {% if loop.index %2 != 0 %}
                                                        
                                                            <div class="media media-chat">
                                                                <img class="avatar"
                                                                    src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                                                    alt="...">
                                                                <div class="media-body">
                                                                    <p>{{ x }}</p>
                                                    
                                                                </div>
                                                            </div>

                                                    {% else %}
                                                        
                                                            <div class="media media-chat media-chat-reverse">
                                                                <div class="media-body">
                                                                    <p>{{ x }}</p>
                                                                </div>
                                                            </div>

                                                    {% endif %}
                                                   
                                                {% endfor %}


                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                                    <div class="ps-scrollbar-x" tabindex="0"
                                                        style="left: 0px; width: 0px;"></div>
                                                </div>
                                                <div class="ps-scrollbar-y-rail"
                                                    style="top: 0px; height: 0px; right: 2px;">
                                                    <div class="ps-scrollbar-y" tabindex="0"
                                                        style="top: 0px; height: 2px;"></div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!-- Instruction Box -->
                <div class="col-sm-3">
                    <div class="row p-3" style="margin-top: 30px;">
                        <div class="col mx-auto">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h4 class="mb-2">Instructions</h4>

                                    <ul style="font-size:0.8rem">
                                        <li class="mb-1">To give your answer first click on START and click on STOP after speaking your answer</li>
                                        <li class="mb-1">Click on next button for the NEXT question</li>
                                        <li class="mb-1">To stop the interview in middle click on END</li>
                                        <li class="mb-1">Find a quiet and well-lit room to take the interview test.</li>
                                        <li class="mb-1">Make sure your device's camera and microphone are working properly.</li>
                                        <li class="mb-1">Be prepared to answer questions about your background, experience, and skills.</li>
                                        <li class="mb-1">Speak clearly and confidently during the interview.</li>
                                        <li class="mb-1">If you get stuck on a question, take a moment to think before answering.</li>
                                        <li class="mb-1">Once you complete the interview, you will receive feedback on your performance.</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        var request = new XMLHttpRequest();
        request.open('POST', '/speak');
        request.send();

// New Script

        navigator
        .mediaDevices
        .getUserMedia({audio: true})
        .then(stream => { handlerFunction(stream) });

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                    sendData(blob);
                }
            }
        }

        function sendData(data) {
            var form = new FormData();
            form.append('file', data, 'data.mp3');
            form.append('title', 'data.mp3');
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url: '/audio',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function(data) {
                console.log(data);
            });
        }

        startRecording.onclick = e => {
            console.log('Recording are started..');
            startRecording.disabled = true;
            stopRecording.disabled = false;
            audioChunks = [];
            rec.start();
        };

        stopRecording.onclick = e => {
            console.log("Recording are stopped.");
            startRecording.disabled = false;
            stopRecording.disabled = true;
            rec.stop();
        };



    </script>
</body>

</html>