<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>launch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
</head>

<body>
    <div>
        <div class="header-blue" style="padding-bottom:0px;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="/">COLLOQUIO</a><button class="navbar-toggler"
                        data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                            navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">

                        <form class="form-inline mr-auto" target="_self">
                        </form>
                            

                    </div>
                    {% if current_user.is_authenticated %}
                    <a class="btn btn-light action-button" role="button" href="{{ url_for('auth.logout') }}">logout</a>
                    {% endif %}
                </div>
            </nav>
        </div>

        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <div class="container mt-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7">
                            <div class="card p-3 py-4">

                                <div class="text-center">
                                    <img src="{{ url_for('static', filename = 'images/avatar.jpg') }}" width="100" class="rounded-circle">
                                </div>
                                <div class="text-center mt-3">
                                    <h5 class="mt-2 mb-0"> {{ user.name }}</h5>
                                    <span> Best Score - {{ user.best_score }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container mt-5" style="margin-bottom:20px;">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7">

                        <form action = "/interview" method = "POST" >
                            <div class="dropdown row d-flex  justify-content-center">
                                <select id="dropdown" name="dropdown" >
                                    
                                    <option value="hr">HR</option>
                                    <option value="se">Software Engineer</option>
                                    <option value="ds">Data Science</option>
                                </select>
                                <button class="btn btn-primary ml-4"  type="submit" style="color: rgb(255, 255, 255);">Start</button>
                            </div>
                      </form>
                     

              
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-sm-3">
                
            </div>

        </div>

        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="/contact">Contact</a></li>
    
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
    
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Colloquio</h3>
                            <p>We designed this AI-based mock interview system to help job seekers prepare for interviews by simulating a realistic interview experience. With our system, you can practice answering common interview questions and receive feedback on your responses. 
                            </p>
                        </div>
                       
                    </div>
                    <p class="copyright">Colloquio © 2023</p>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>




</html>



